[package]
name = "el_monitorro"
version = "0.1.0"
authors = ["Ayrat Badykov <ayratin555@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = { version = "0.4", features = ["serde"] }
diesel = { version = "1.4", features = ["postgres", "chrono", "r2d2"] }
dotenv = "0.15.0"
html2text = "0.1.14"
env_logger = "0.7.1"
failure = "0.1"
log = "0.4.0"
once_cell = "1.5.0"
rss = { version = "1.0" }
serde_json = "1.0"
feed-rs = "0.2.0"
isahc = { version = "0.9", features = ["text-decoding"]}
atom_syndication = "0.9"
telegram-bot = { git = "https://github.com/ayrat555/telegram-bot", branch = "ayrat555/api-fixes-3" }
futures = "0.3"
tokio = { version = "0.2", features = ["full"] }
url = "2.1"
regex = { version = "1", features = ["pattern"] }
handlebars = "3.4"
htmlescape = "0.3"
