[package]
name = "el_monitorro"
version = "0.1.0"
authors = ["Ayrat Badykov <ayratin555@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = { version = "0.4", features = ["serde"] }
diesel = { version = "1.4", features = ["postgres", "chrono"] }
dotenv = "0.15.0"
env_logger = "0.7.1"
failure = "0.1"
log = "0.4.0"
rss = { version = "1.0" }
isahc = { version = "0.9", features = ["text-decoding"]}
atom_syndication = "0.9"
telegram-bot = "0.7"
futures = "0.3"
tokio = { version = "0.2", features = ["full"] }
url = "2.1"
