[package]
name = "el_monitorro"
version = "0.6.0"
authors = ["Ayrat Badykov <ayratin555@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
atom_syndication = "0.11"
chrono = "0.4"
diesel = { version = "1", features = ["postgres", "chrono", "r2d2"] }
dotenv = "0.15"
env_logger = "0.9"
fang = "0.5"
feed-rs = "1"
frankenstein = { version = "0.13", default-features = false, features = ["telegram-trait"] }
handlebars = "4"
hex = "0.4"
nanohtml2text = { git = "https://github.com/ayrat555/nanohtml2text/", rev = "4b94f950eefdbf788fc63ecb182a3b2ef9c51692"}
htmlescape = "0.3"
isahc = "1"
log = "0.4"
rss = "2"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
sha2 = "0.10"
tokio = { version = "1", features = ["full"] }
url = "2"

[dev-dependencies]
mockito = "0.31"