[package]
name = "el_monitorro"
version = "0.2.5"
authors = ["Ayrat Badykov <ayratin555@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
atom_syndication = "0.11"
chrono = "0.4"
diesel = { version = "1", features = ["postgres", "chrono", "r2d2"] }
dotenv = "0.15"
env_logger = "0.9"
fang = "0.5"
feed-rs = "1"
frankenstein = { version = "0.9", default-features = false }
handlebars = "4"
html2text = "0.2"
htmlescape = "0.3"
isahc = "1"
log = "0.4"
regex = { version = "1", features = ["pattern"] }
rss = "2"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tokio = { version = "1", features = ["full"] }
url = "2"


[dev-dependencies]
mockito = "0.30"